<template name="header">

    <header class="container">
        <nav class="navbar navbar-default">
            <div class="toggle-button">☰</div>
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="{{pathFor 'home'}}">
                        Viajando
                    </a>
                </div>
                <div class="navbar-brand navbar-right" style="padding-left: 70%">
                     <a href="{{pathFor 'incluirViagem'}}">
                        <span class="  glyphicon glyphicon-plus"
                        style="align-items: right" name="incluirViagem" >
                        </span>
                    </a>
                </div>
                <div class="navbar-brand" style="padding-left: 80%">
                    <a href="{{pathFor 'pesquisarViagem'}}">
                        <span class="pesquisarViagem  glyphicon glyphicon-search"
                         style="align-items: right" name="pesquisarViagem" >
                        </span>
                    </a>
                </div>
            </div>
        </nav>
    </header>
</template>