<template name="header">

    <header class="container">
        <nav class="navbar navbar-default">
            <div class="toggle-button">☰</div>
            <div class="navbar-header">
                <div class="navbar-brand">
                    Viajando
                </div>
                <span class="  glyphicon glyphicon-plus"
                style="align-items: right" name="incluirViagem" ></span>
                <span class="pesquisarViagem  glyphicon glyphicon-search"
                style="align-items: right" name="pesquisarViagem" ></span>
            </div>
        </nav>
    </header>
</template>